@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

/* 

*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

.hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}